<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Angular app</title>
    </head>
    <body>
        <div ng-app="myApp" ng-controller="rootController as rootCtrl">
            <div style="width: 90vw; height: 60vh;">
            <contour-view
                values-get="rootCtrl.getter('values')"
                n-rows-get="rootCtrl.getter('headers.numOfCols')"
                n-cols-get="rootCtrl.getter('headers.numOfRows')"
                min-x-get="rootCtrl.getter('headers.minX')"
                max-x-get="rootCtrl.getter('headers.maxX')"
                min-y-get="rootCtrl.getter('headers.minY')"
                max-y-get="rootCtrl.getter('headers.maxY')"
                inc-x-direction-get="rootCtrl.getter('headers.xDirection')"
                inc-y-direction-get="rootCtrl.getter('headers.yDirection')"
                negative-data-get="rootCtrl.getter('negativeData')"
                color-scale-get="rootCtrl.getter('colorScale')"
                step-get="rootCtrl.getter('step')"
                major-every-get="rootCtrl.getter('majorEvery')"
                show-grid-get="rootCtrl.getter('showGrid')"
                grid-major-get="rootCtrl.getter('gridMajor')"
                grid-minor-get="rootCtrl.getter('gridMinor')"
                grid-nice-get="rootCtrl.getter('gridNice')"
                show-color-scale-legend-get="rootCtrl.getter('showColorScaleLegend')"
                color-legend-ticks-get="rootCtrl.getter('colorScaleLegendTicks')"
                show-label-get="rootCtrl.getter('showLabel')"
                label-interval-get="rootCtrl.getter('labelInterval')"
                show-scale-get="rootCtrl.getter('showScale')"
                label-font-size-get="rootCtrl.getter('fontSize')"
                y-direction-get="rootCtrl.getter('yDirection')"
                wells-get="rootCtrl.getter('wells')"
                show-well-get="rootCtrl.getter('showWell')"
                trajectories-get="rootCtrl.getter('trajectories')"
                show-trajectory-get="rootCtrl.getter('showTrajectory')"
                disable-zoom-get="rootCtrl.getter('disableZoom')"
                disable-mouse-coordinate-get="rootCtrl.getter('disableMouseCoordinate')"
                enable-ruler-mode-get="rootCtrl.getter('enableRulerMode')"
                on-mouse-move-get="rootCtrl.getter('onContourViewMouseMove')"
                on-ruler-end-get="rootCtrl.getter('onRulerEnd')"
                on-component-mounted-get="rootCtrl.getter('onContourViewMounted')"
                on-scale-changed-get="rootCtrl.getter('onScaleChanged')">
            </contour-view>
            </div>
            <button ng-click="rootCtrl.makeCenter()">Center map</button>
            <contour-file-import
                negative-data-get="rootCtrl.getter('negativeData')"
                on-data-changed-get="rootCtrl.getter('onDataChanged')">
            </contour-file-import>
            <color-scale-generator
                bar-height-get="rootCtrl.getter('colorBarHeight')"
                on-scale-changed-get="rootCtrl.getter('onColorScaleChanged')"
                min-val-get="rootCtrl.getter('minValue')"
                max-val-get="rootCtrl.getter('maxValue')">
            </color-scale-generator>
            <div>
                <label>Mouse Coord</label>
                {{rootCtrl.mouseCoord.x}} - {{rootCtrl.mouseCoord.y}}
                <div>mouseValue: {{rootCtrl.mouseValue}} (m)</div>
                <div>Ruler: {{rootCtrl.rulerDistance}} (m)</div>
                <br/>
                <label>Disable Zoom</label>
                <input type="checkbox" ng-model="rootCtrl.disableZoom"/>
                <label>Disable Mouse Coordinate</label>
                <input type="checkbox" ng-model="rootCtrl.disableMouseCoordinate"/>
                <label>Enable Ruler Mode</label>
                <input type="checkbox" ng-model="rootCtrl.enableRulerMode"/>
                <br/>
                <label>Negative import</label>
                <input type="checkbox" ng-model="rootCtrl.negativeData"/>
                <br/>
                <label>Show color scale legend</label>
                <input type="checkbox" ng-model="rootCtrl.showColorScaleLegend"/>
                <label>Color scale legend ticks</label>
                <input type="number" ng-model="rootCtrl.colorScaleLegendTicks"/>
                <br/>
                <label>Show Trajectory</label>
                <input type="checkbox" ng-model="rootCtrl.showTrajectory"/>
                <br/>
                <label>Show Well</label>
                <input type="checkbox" ng-model="rootCtrl.showWell"/>
                <button ng-click="rootCtrl.addRandomWell()">Add Well</button>
                <button ng-click="rootCtrl.removeRandomWell()">Remove Well</button>
                <button ng-click="rootCtrl.changeRandomWell()">Change Well</button>
                <br/>
                <label>Wells</label>
                <span>{{rootCtrl.wells}}</span>
                <br/>
                <label>Show Scale</label>
                <input type="checkbox" ng-model="rootCtrl.showScale"/>
                <label>Scale</label>
                <span>{{rootCtrl.scale}}</span>
                <button ng-click="rootCtrl.changeRandomScale()">Change Scale</button>
                <br/>
                <label>Color Scale</label>
                <div>{{rootCtrl.colorScale.domain()}}</div>
                <div>{{rootCtrl.colorScale.range()}}</div>
                <br/>
                <label>Contour Step</label>
                <input type="number" ng-model="rootCtrl.step"/>
                <label>Major Every</label>
                <input type="number" ng-model="rootCtrl.majorEvery"/>
                <br/>
                <label>fontSize</label>
                <input type="number" ng-model="rootCtrl.fontSize"/>
                <label>labelInterval</label>
                <input type="number" ng-model="rootCtrl.labelInterval"/>
                <label>Show Text</label>
                <input type="checkbox" ng-model="rootCtrl.showLabel"/>
                <br/>
                <label>show Grid</label>
                <input type="checkbox" ng-model="rootCtrl.showGrid"/>
                <label>Major Tick</label>
                <input type="number" ng-model="rootCtrl.gridMajor"/>
                <label>Minor Tick</label>
                <input type="number" ng-model="rootCtrl.gridMinor"/>
                <label>Grid Nice Tick</label>
                <input type="checkbox" ng-model="rootCtrl.gridNice"/>
                <br/>
                <input type="text" ng-model="rootCtrl.yDirection"/>
            </div>
        </div>
    </body>
</html>
