<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Angular app</title>
    </head>
    <body>
        <div ng-app="myApp" ng-controller="rootController as rootCtrl">
            <div style="width: 90vw;">
            <contour-view
                values-get="rootCtrl.getter('values')"
                n-rows-get="rootCtrl.getter('headers.numOfCols')"
                n-cols-get="rootCtrl.getter('headers.numOfRows')"
                min-x-get="rootCtrl.getter('headers.minX')"
                max-x-get="rootCtrl.getter('headers.maxX')"
                min-y-get="rootCtrl.getter('headers.minY')"
                max-y-get="rootCtrl.getter('headers.maxY')"
                color-scale-get="rootCtrl.getter('colorScale')"
                step-get="rootCtrl.getter('step')"
                major-every-get="rootCtrl.getter('majorEvery')"
                show-grid-get="rootCtrl.getter('showGrid')"
                grid-major-get="rootCtrl.getter('gridMajor')"
                grid-minor-get="rootCtrl.getter('gridMinor')"
                grid-nice-get="rootCtrl.getter('gridNice')"
                show-label-get="rootCtrl.getter('showLabel')"
                label-font-size-get="rootCtrl.getter('fontSize')"
                on-scale-changed-get="rootCtrl.getter('onScaleChanged')">
            </contour-view>
            </div>
            <contour-file-import
                on-data-changed-get="rootCtrl.getter('onDataChanged')">
            </contour-file-import>
            <color-scale-generator
                on-scale-changed-get="rootCtrl.getter('onColorScaleChanged')"
                min-val-get="rootCtrl.getter('minValue')"
                max-val-get="rootCtrl.getter('maxValue')">
            </color-scale-generator>
            <div>
                <label>Scale</label>
                <span>{{rootCtrl.scale}}</span>
                <br/>
                <label>Color Scale</label>
                <div>{{rootCtrl.colorScale.domain()}}</div>
                <div>{{rootCtrl.colorScale.range()}}</div>
                <br/>
                <label>Contour Step</label>
                <input type="number" ng-model="rootCtrl.step"/>
                <label>Major Every</label>
                <input type="number" ng-model="rootCtrl.majorEvery"/>
                <br/>
                <label>fontSize</label>
                <input type="number" ng-model="rootCtrl.fontSize"/>
                <label>Show Text</label>
                <input type="checkbox" ng-model="rootCtrl.showLabel"/>
                <br/>
                <label>show Grid</label>
                <input type="checkbox" ng-model="rootCtrl.showGrid"/>
                <label>Major Tick</label>
                <input type="number" ng-model="rootCtrl.gridMajor"/>
                <label>Minor Tick</label>
                <input type="number" ng-model="rootCtrl.gridMinor"/>
                <label>Grid Nice Tick</label>
                <input type="checkbox" ng-model="rootCtrl.gridNice"/>
            </div>
        </div>
    </body>
</html>
