<fragment>
    <div style="width: 90vw;">
    <contour-view
        :values="values" :n-rows="headers.numOfCols" :n-cols="headers.numOfRows"
        :min-x="headers.minX" :max-x="headers.maxX"
        :min-y="headers.minY" :max-y="headers.maxY"
        :color-scale="colorScale" :step="step" :major-every="majorEvery"
        :show-grid="showGrid" :grid-major="gridMajor" :grid-minor="gridMinor" :grid-nice="gridNice"
        :y-direction="yDirection" :show-scale="showScale"
        :show-label="showLabel" :label-font-size="fontSize" :on-scale-changed="(_scl) => scale = _scl">
    </contour-view>
    </div>
    <contour-file-import :on-data-changed="onDataChanged"></contour-file-import>
    <color-scale-generator :on-scale-changed="onColorScaleChanged" :min-val="minValue" :max-val="maxValue"></color-scale-generator>
    <div>
        <label>Scale</label>
        <span>{{scale}}</span>
        <label>show Scale</label>
        <input type="checkbox" v-model="showScale"/>
        <br/>
        <label>Contour Step</label>
        <input type="number" v-model="step"/>
        <label>Major Every</label>
        <input type="number" v-model="majorEvery"/>
        <br/>
        <label>fontSize</label>
        <input type="number" v-model="fontSize"/>
        <label>Show Text</label>
        <input type="checkbox" v-model="showLabel"/>
        <br/>
        <label>show Grid</label>
        <input type="checkbox" v-model="showGrid"/>
        <label>Major Tick</label>
        <input type="number" v-model="gridMajor"/>
        <label>Minor Tick</label>
        <input type="number" v-model="gridMinor"/>
        <label>Grid Nice Tick</label>
        <input type="checkbox" v-model="gridNice"/>
        <label>yDirection</label>
        <input type="text" v-model="yDirection"/>
    </div>
</fragment>
