<fragment>
    <div style="width: 90vw;">
    <contour-view
        :values="values" :n-rows="headers.numOfCols" :n-cols="headers.numOfRows"
        :color-scale="colorScale" :step="step" :major-tick="majorTick"
        :showLabel="showLabel" :label-font-size="fontSize" :on-scale-changed="(_scl) => scale = _scl">
    </contour-view>
    </div>
    <contour-file-import :onDataChanged="onDataChanged"></contour-file-import>
    <color-scale-generator :onScaleChanged="onColorScaleChanged" :min-val="minValue" :max-val="maxValue"></color-scale-generator>
    <div>
        <label>Scale</label>
        <span>{{scale}}</span> <br/>
        <label>Step</label>
        <input type="number" v-model="step"/>
        <label>Major</label>
        <input type="number" v-model="majorTick"/>
        <label>fontSize</label>
        <input type="number" v-model="fontSize"/>
        <label>ShowLabel</label>
        <input type="checkbox" v-model="showLabel"/>
    </div>
</fragment>
